{% extends 'base.html' %}

{% set title = request.path %}
{% set link = '/' %}

{% if (request.args.get('sort') is not none and request.args.get('reverse') is not none) %}
{% set args = '?sort=' + request.args.get('sort') + '&reverse=' + request.args.get('reverse' )%}
{% else %}
{% set args = '' %}
{% endif %}

{% block content %}
    <div id="browser" class="content">
        <div class="property-name">
            {% if (reverse == false and request.args.get('sort') == 'name') %}
                <img src="data:image/png;base64, {{ iconpack['arrow_down'].value }}" class ="arrows" alt="descending" title="descending"/>
            {% elif ((reverse and request.args.get('sort') == 'name') or request.args.get('sort') is none) %}
                <img src="data:image/png;base64, {{ iconpack['arrow_up'].value }}" class ="arrows" alt="ascending" title="ascending"/>
            {% else %}
                <img src="data:image/png;base64, {{ iconpack['dot'].value }}" class ="arrows"/>
            {% endif %}
            <a href="{{ request.path + '?sort=name&reverse=' + reverse|string }}">
                Name
            </a>
        </div>
        <div class="property-actions">
            Actions
        </div>
        <div class="property-size">
            {% if (reverse == false and request.args.get('sort') == 'size') %}
                <img src="data:image/png;base64, {{ iconpack['arrow_down'].value }}" class ="arrows" alt="descending" title="descending"/>
            {% elif (reverse and request.args.get('sort') == 'size') %}
                <img src="data:image/png;base64, {{ iconpack['arrow_up'].value }}" class ="arrows" alt="ascending" title="ascending"/>
            {% else %}
                <img src="data:image/png;base64, {{ iconpack['dot'].value }}" class ="arrows"/>
            {% endif %}
            <a href="{{ request.path + '?sort=size&reverse=' + reverse|string }}">
                Size
            </a>
        </div>
        <div class="property-date">
            {% if (reverse == false and request.args.get('sort') == 'date') %}
                <img src="data:image/png;base64, {{ iconpack['arrow_down'].value }}" class ="arrows" alt="descending" title="descending"/>
            {% elif (reverse and request.args.get('sort') == 'date') %}
                <img src="data:image/png;base64, {{ iconpack['arrow_up'].value }}" class ="arrows" alt="ascending" title="ascending"/>
            {% else %}
                <img src="data:image/png;base64, {{ iconpack['dot'].value }}" class ="arrows"/>
            {% endif %}
            <a href="{{ request.path + '?sort=date&reverse=' + reverse|string }}">
                Date modified
            </a>
        </div>
        {% if request.path != '/' %}
            <div class="property-name">
                <a href="{{ request.path + '../' + args }}">
                    ..
                </a>
            </div>
            <div class="property-actions">
            </div>
            <div class="property-size">
            </div>
            <div class="property-date">
            </div>
        {% endif %}
        {% for key, value in dirs.items() %}
            <div class="property-name">
                <img src="data:image/png;base64,{{ value[0] }}"/>
                <a href="{{ request.path + key + '/' + args }}" {% if (parent_is_public or request.path + key in public) %}class="public"{% endif %}>
                    {{ key }}
                </a>
            </div>
            <div class="property-actions">
                <a href="{{ '/move?path=' + request.path + key }}">
                    <img src="data:image/png;base64, {{ iconpack['move'].value }}" alt="move" title="move"/>
                </a>
                <a href="{{ '/copy?path=' + request.path + key }}">
                    <img src="data:image/png;base64, {{ iconpack['copy'].value }}" alt="copy" title="copy"/>
                </a>
                {% if parent_is_public %}
                    <img src="data:image/png;base64, {{ iconpack['share_disabled'].value }}" alt="already shared" title="already shared"/>
                {% elif request.path + key in public %}
                    <a href="{{ '/share?path=' + request.path + key + '&action=unshare'}}">
                        <img src="data:image/png;base64, {{ iconpack['unshare'].value }}" alt="unshare" title="unshare"/>
                    </a>
                {% else %}
                    <a href="{{ '/share?path=' + request.path + key + '&action=share'}}">
                        <img src="data:image/png;base64, {{ iconpack['share'].value }}" alt="share" title="share"/>
                    </a>
                {% endif %}
                <a href="{{ '/delete?path=' + request.path + key }}">
                    <img src="data:image/png;base64, {{ iconpack['trashbin'].value }}" alt="delete" title="delete"/>
                </a>
            </div>
            <div class="property-size">
            </div>
            <div class="property-date">
                {{ value[1] }}
            </div>
        {% endfor %}
        {% for key, value in files.items() %}
            <div class="property-name">
                <img src="data:image/png;base64,{{ value[0] }}"/>
                <a href="{{ request.path + key }}" {% if (parent_is_public or request.path + key in public) %}class="public"{% endif %}>
                    {{ key }}
                </a>
            </div>
            <div class="property-actions">
                {% if value[3] %}
                    <a href="{{ '/raw?path=' + request.path + key }}">
                        <img src="data:image/png;base64, {{ iconpack['raw'].value }}" alt="raw" title="raw"/>
                    </a>
                {% endif %}
                <a href="{{ '/move?path=' + request.path + key }}">
                    <img src="data:image/png;base64, {{ iconpack['move'].value }}" alt="move" title="move"/>
                </a>
                <a href="{{ '/copy?path=' + request.path + key }}">
                    <img src="data:image/png;base64, {{ iconpack['copy'].value }}" alt="copy" title="copy"/>
                </a>
                {% if parent_is_public %}
                    <img src="data:image/png;base64, {{ iconpack['share_disabled'].value }}" alt="already shared" title="already shared"/>
                {% elif request.path + key in public %}
                    <a href="{{ '/share?path=' + request.path + key + '&action=unshare'}}">
                        <img src="data:image/png;base64, {{ iconpack['unshare'].value }}" alt="unshare" title="unshare"/>
                    </a>
                {% else %}
                    <a href="{{ '/share?path=' + request.path + key + '&action=share'}}">
                        <img src="data:image/png;base64, {{ iconpack['share'].value }}" alt="share" title="share"/>
                    </a>
                {% endif %}
                <a href="{{ '/delete?path=' + request.path + key }}">
                    <img src="data:image/png;base64, {{ iconpack['trashbin'].value }}" alt="delete" title="delete"/>
                </a>
            </div>
            <div class="property-size">
                {{ value[2] }}
            </div>
            <div class="property-date">
                {{ value[1] }}
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block action1 %}
    <form action = "/upload" method = "POST" enctype = "multipart/form-data">
        <div class="action-forms">
            <div><b>Upload file</b></div>
            <div><input type = "file" name = "file" multiple/></div>
            <div><input type = "submit" value = "Upload"/></div>
        </div>
    </form>
{% endblock %}

{% block action2 %}
    <form action = "/create_dir" method = "POST">
        <div class="action-forms">
            <div><b>Create directory</b></div>
            <div><input type = "text" name = "directory" required pattern="[^:*&quot;&apos;<>|#?$]+"/></div>
            <div><input type = "submit" value = "Create"/></div>
        </div>
    </form>
{% endblock %}