{% extends 'base.html' %}

{% set title = 'Login' %}
{% set link = url_for('login') %}

{% block content %}
    <div class="border">
        <form action = "{{ url_for('login') }}" method = "POST">
            <div class="login-forms">
                <div><b>Login</b></div>
                <div><input type = "text" name = "username"/></div>
            </div>
            <div class="login-forms">
                <div><b>Password</b></div>
                <div><input type = "password" name = "password"/></div>
            </div>
            <div class="login-forms">
                <div></div>
                <div><input type = "submit" value = "Login"/></div>
            </div>
        </form>
    </div>
{% endblock %}